#sideMenu{
  display: flex;
  flex-flow: column;
  align-items: center;
  width: 210px;
  height: 100vh;
  background-color: #00012e;
  text-align: center;
  position: sticky;
  top: 0;
}

#logo {
  width: 105px;
  height: 105px;
  margin: 1rem 0;
}

.menuOption {
  display: flex;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  color: #fff;
  text-decoration: inherit;
  padding: 10px 50px;
}

.menuOption:hover{
  cursor: pointer;
  background-color: #0e3b79;
}